*{
    box-sizing: border-box;
}
:root{
    --gap:0;
    --fullbleed-margin: 8px;
}
@font-face {
    font-family: 'Bold';
    src: url(Fonts/SpotifyMixUI-Bold-4264b799009b1db5c491778b1bc8e5b7.woff2);
}
@font-face {
    font-family: 'Regular';
    src: url(Fonts/SpotifyMixUI-Regular-cc3b1de388efa4cbca6c75cebc24585e.woff2);
}
@font-face {
    font-family: 'Title';
    src: url(Fonts/SpotifyMixUITitleVariable-8769ccfde3379b7ebcadd9529b49d0cc.woff2);
}
.spoti320{
    color: #fff;
    font-size: 16px;
    line-height: normal;
    text-transform: none;
    background-color: #121212;
    display: flex;
    margin: 0;
    height: 100%;
    
}
.main{
    height: 100%;
    width: 100%;
    z-index: 0;
    box-sizing: border-box;
}
.spotifyy{
    height: 100%;
}
.spotifyy1{
    display: block;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    width: 100%;
    z-index: unset;
}
.spotify2{
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-height: 100vh;
}
.spotify3{
    position: fixed;
    background-color: black;
    gap: 16px;
    height: 56px;
    left: 0;
    padding:0 16px;
    right: 0;
    top: 0;
    transition: background-color .4s ease;
    z-index: 2;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}
.spotify3::before{
    background-color: rgb(0,0,0,0.5);
    bottom: 0;
    height: 56px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: background-color .4s ease;
    z-index: -1;
}
.spotify4{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
}
.spotLogo{
    height: 32px;
    color: #fff;
    text-decoration: none;
}
.spotifyImg{
    stroke: transparent;
    fill: #fff;
    height: 24px;
}
.restSpoti{
    -webkit-box-flex: 1;
    flex: 1;
}
.restSpot1{
    display: flex;
}
.restSpot2{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 0 16px;
    color: #fff;
    text-decoration: none;
}
.openBut{
    font-weight: 700;
    font-family: Bold;
    font-size: 0.8125rem;
    align-self: center;
    min-inline-size: 0;
    padding: 0;
    background-color: initial;
    border: 0;
    border-radius: 9999px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    vertical-align: middle;
    will-change: transform;
}
.OpenBut2{
    align-items: center;
    background-color: #fff;
    border-radius: 9999px;
    color: #000;
    display: flex;
    font-size: inherit;
    justify-content: center;
    position: relative;
    transition: inherit;
    transition-property: background-color,transform,-webkit-transform;
    min-block-size: 32px;
    padding-block: 4px;
    padding-inline: 16px;
}
.threeBar{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box
}
.thhreeBar1{
    /* visibility: visible; */
    z-index: 6;
    background: none;
    color: #fff;
    margin: 0;
    margin-inline-start: 16px;
    min-block-size: auto;
    padding: 0;
    text-align: start;
    /* display: flex; */
    /* -webkit-box-align: center;
    align-items: center; */
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    text-decoration: none;
}
.thhreeBar2{
    position: static;
    display: flex;
}
.Menu{
    height: 24px;
    width: 24px;
}
.belowBan{
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    padding-bottom: 0px;
}
.belowBan2{
    margin-top: 56px;
    position: relative;
     box-sizing: border-box; 
} 
.belowBan3{
    box-sizing: border-box;
}
.belowFull{
    padding: 0 16px;
}
.trend{
    margin-bottom: 12px !important;
    margin-top: 26px !important;
    overflow: hidden;
}
.trendSongs,.Popu{
    margin-bottom: 12px !important;
    margin-top: 24px !important;
    overflow: hidden;
}
.trendSong2,.popuArt{
    font-size: 1.25rem;
    font-family:'Title';
    font-weight: 700;
    text-wrap: balance;
    box-sizing: border-box;
    color: inherit;
    margin-block: 0;
    /* padding-bottom: 10px; */
}
.paddingg{
    margin-top: 30px;
    padding-top: 20px;
}
.awrite{
    margin-right: -200px;
    overflow-wrap: anywhere;
    text-decoration: none;
    /* white-space: nowrap; */
    display: inline-flex;
    align-items: center;
    color: inherit;
    margin-top: -80px;
    padding-top: 60px;

}
.popuArt2{
    margin-top: 5px;
}
.write,.popuArt2{
    overflow-wrap: anywhere;
    text-decoration: none;
    /* white-space: nowrap; */
    display: inline-flex;
    align-items: center;
    color: inherit;
    /* padding-bottom: 8px; */
}
.img,.artPic{
    --gap: 0;
    --fullbleed-margin:8px;
    display: flex;
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    position: relative;
    right: 50%;
    width: 100vw;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    gap: 7.8px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    padding: 0px 8px;
    margin-top: 20px;
}
.img1{
    margin-inline-start: 8.2px;
    max-inline-size: 168px;  /*beware*/
}
.img1{
    border-radius: inherit;
    content: "";
    z-index: -1;
}
.img2{
    position: absolute;
    z-index: 0;
    inset: 0px;
    cursor: pointer;
    color: #fff;
}
.img3{
    display: none;  /*beware*/
    box-sizing: border-box;
}
.imgg{
    min-inline-size: 152px;
    aspect-ratio: 1/1;
    object-fit: cover;
    inline-size: 100%;
    border-radius: 4px,4px;
    box-sizing: border-box;
    border-radius: 5px;
}
.text{
    column-gap: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    margin-top: -5px;
}
.text1{
    display: flex;
    flex-direction: column;
    gap: 2px;
    flex-basis: 100%;
    align-items: flex-start;
}
.text2{
    position: relative;
    z-index: 1;
    font-family: 'Title';
    font-size: 1rem;
    /* line-height: 21px; */
    font-weight: 400;
    color: inherit;
    margin-block: 0;
    overflow-wrap: anywhere;
    outline: none;
    text-decoration: none;
}
.textLast{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    box-sizing: border-box;
}
.textLast::after{
    inset: 12px;
}
.popuArt2{
    text-decoration: none;
}
.footStart{
   text-align:flex-start; 
}
.footCompany{
    background-color: rgb(18,18,18);
    padding: 8px 16px 32px;
    width: 100%;
    box-sizing: border-box;
}
.footPadd{
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}
.footCompany1{
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 32px;
}
.compDet{
    list-style: none;
    padding-inline-start: 0px;
    box-sizing: border-box;
    padding-inline: 0px 0px;
    margin-block: 0px;
    overflow-wrap: break-word;
}
.compDet1{
    color: rgb(255,255,255);
    margin-block: 0px;
    font-size: 1rem;
    font-weight: 599;
    font-family: 'Title';
    padding-block-end: 8px;
}
.firstchildComp{
    text-decoration: none;
    color: #b3b3b3;
    font-weight: 700;
    font-family: 'Regular';
    font-size: 0.6875rem;
    overflow-wrap: anywhere;
   display: inline-flex;
    align-items: center;
}
.eachComp{
    box-sizing: border-box;
    margin-block: 0px;
    font-size: 1rem;
    font-weight: 399;
    font-family: 'Regular';
    padding-block-end: 8px;
    color: inherit;
}
.paddingOnly{
    padding-left: 16px;
    padding-right: 16px;
    margin-top: -5px !important;
}
.socialMedia{
    margin-bottom: 40px;
    padding-left: 16px;
    padding-right: 16px;
}
.instaGram2{
    display: inline;
    padding-right: 12px;
}
.instaGram3{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(41,41,41);
    box-sizing: border-box;
    cursor: inherit;
    text-decoration: none;
}
.lineHori{
    border-color: rgba(255,255,255.0.1) !important;
    margin-block-start: 0px;
    box-sizing: border-box;
    border: 0px;
    border-block-start: 1px solid #292929;
    margin-block: 20px 24px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 21px;
}
.legal{
    display: flex;
    flex-flow: column wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
}
.cont{
    display: flex;
    flex-flow: wrap;
}
.cont1{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.misCont{
    margin-right: 16px;
    box-sizing: border-box;
    height: 29px;
    font-family: 'Regular';
    font-size: 16px;
}
.cont2{
    overflow-wrap: anywhere;
    box-sizing: border-box;
    line-height: inherit;
    margin-bottom: 8px !important;
    border: none;
    padding: 0px;
    color: #b3b3b3;
    
}
.legall{
    box-sizing: border-box;
    margin-block: 0px;
    font-size: 0.875rem;
    font-weight: 400;
    font-family: 'Regular';
    color: #b3b3b3;
    text-decoration: none;
}
.copyright{
    flex: 0 0 auto;
    display: flex;
    flex-flow: row;
    -webkit-box-align: end;
    align-items: end;
    color: #b3b3b3;
}
.copyright2{
    padding-right: 16px;
}
.copyright3{
    box-sizing: border-box;
    margin-block: 0px;
    font-size: 0.875rem;
    font-weight: 400;
    font-family: 'Regular';
    color: inherit;
}
.lang{
    padding-top: 16px;
    box-sizing: border-box;
    color: #b3b3b3;
    padding-bottom: 40px;
}
.engLish{
    padding-inline-start: 12px 16px 8px;
    font-weight: 700;
    background-color: transparent;
    font-family: 'Bold';
    font-size: 0.8125rem;
    padding-right:16px !important;
    padding-left: 36px;
    padding-top: 4px;
    padding-bottom: 4px;
    min-block-size: 32px;
    padding-block: 4px;
    padding-inline: 16px;
    overflow-wrap: anywhere;
    box-sizing: border-box;
    background-color: transparent;
    border-radius: 9999px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    user-select: none;
    vertical-align: middle;
    border: 1px solid #7c7c7c;
    color: #fff;
    min-inline-size: 0px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.eng2{
    inset-inline-start: 12px;
    display: flex;
    /* position: absolute; */
    box-sizing: border-box;
    font-weight: 700;
    font-family: 'Bold';
    font-size: 0.8125rem;
    /* overflow-wrap: anywhere; */
    text-align: center;
    user-select: none;
    color: #fff;
}
.langg{
    height: 16px;
    width: 16px;
    margin-right: 8px;
    margin-left: -4px;
}
.last{
    display: block;
    height: 100%;
    left: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 6;
}
@media screen and (min-width:768px){
.footCompany1{
    flex-direction: row;
    gap: 210px;
}
}
