*{
    box-sizing: border-box;
}
:root{
    --gap:0;
    --fullbleed-margin: 8px;
}
@font-face {
    font-family: 'Bold';
    src: url(Fonts/SpotifyMixUI-Bold-4264b799009b1db5c491778b1bc8e5b7.woff2);
}
@font-face {
    font-family: 'Regular';
    src: url(Fonts/SpotifyMixUI-Regular-cc3b1de388efa4cbca6c75cebc24585e.woff2);
}
@font-face {
    font-family: 'Title';
    src: url(Fonts/SpotifyMixUITitleVariable-8769ccfde3379b7ebcadd9529b49d0cc.woff2);
}
.spoti320{
    color: #fff;
    font-size: 16px;
    line-height: normal;
    text-transform: none;
    background-color: #121212;
    display: flex;
    margin: 0;
    height: 100%;
}
.main{
    height: 100%;
    width: 100%;
    z-index: 0;
    box-sizing: border-box;
}
.spotifyy{
    height: 100%;
}
.spotifyy1{
    display: block;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    width: 100%;
    z-index: unset;
}
.spotify2{
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-height: 100vh;
}
.spotify3{
    position: fixed;
    background-color: rgb(0,0,0,0.5);
    gap: 16px;
    height: 56px;
    left: 0;
    padding:0 16px;
    right: 0;
    top: 0;
    transition: background-color .4s ease;
    z-index: 2;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}
.spotify3::before{
    background-color: rgb(0,0,0,0.5);
    bottom: 0;
    height: 56px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: background-color .4s ease;
    z-index: -1;
}
.spotify4{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
}
.spotLogo{
    height: 32px;
    color: #fff;
    text-decoration: none;
}
.spotifyImg{
    stroke: transparent;
    fill: #fff;
    height: 24px;
}
.restSpoti{
    -webkit-box-flex: 1;
    flex: 1;
}
.restSpot1{
    display: flex;
}
.restSpot2{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 0 16px;
    color: #fff;
    text-decoration: none;
}
.openBut{
    font-weight: 700;
    font-family: Bold;
    font-size: 0.8125rem;
    align-self: center;
    min-inline-size: 0;
    padding: 0;
    background-color: initial;
    border: 0;
    border-radius: 9999px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    vertical-align: middle;
    will-change: transform;
}
.OpenBut2{
    align-items: center;
    background-color: #fff;
    border-radius: 9999px;
    color: #000;
    display: flex;
    font-size: inherit;
    justify-content: center;
    position: relative;
    transition: inherit;
    transition-property: background-color,transform,-webkit-transform;
    min-block-size: 32px;
    padding-block: 4px;
    padding-inline: 16px;
}
.threeBar{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box
}
.thhreeBar1{
    /* visibility: visible; */
    z-index: 6;
    background: none;
    color: #fff;
    margin: 0;
    margin-inline-start: 16px;
    min-block-size: auto;
    padding: 0;
    text-align: start;
    /* display: flex; */
    /* -webkit-box-align: center;
    align-items: center; */
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    text-decoration: none;
}
.thhreeBar2{
    position: static;
    display: flex;
}
.Menu{
    height: 24px;
    width: 24px;
}
.belowBan{
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    padding-bottom: 0px;
}
.belowBan2{
    margin-top: 56px;
    position: relative;
     box-sizing: border-box; 
} 
.belowBan3{
    box-sizing: border-box;
}
.belowFull{
    padding: 0 16px;
}
.trendSongs,.Popu{
    margin-bottom: 12px !important;
    margin-top: 24px !important;
    overflow: hidden;
}
.trendSong2,.popuArt{
    font-size: 1.25rem;
    font-family:'Title';
    font-weight: 700;
    text-wrap: balance;
    box-sizing: border-box;
    color: inherit;
    margin-block: 0;
}
.write,.popuArt2{
    overflow-wrap: anywhere;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    color: inherit;
}
.img,.artPic{
    --gap: 0;
    --fullbleed-margin:8px;
    display: flex;
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    position: relative;
    right: 50%;
    width: 100vw;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    gap: 0;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}
.img1{
    margin-inline-start: 8px;
    max-inline-size: 168px;  /*beware*/
}
.img1{
    border-radius: inherit;
    content: "";
    z-index: -1;
}
.img2{
    position: absolute;
    z-index: 0;
    inset: 0px;
    cursor: pointer;
    color: #fff;
}
.img3{
    display: none;  /*beware*/
    box-sizing: border-box;
}
.imgg{
    min-inline-size: 152px;
    aspect-ratio: 1/1;
    object-fit: cover;
    inline-size: 100%;
    border-radius: 4px,4px;
    box-sizing: border-box;
    border-radius: 5px;
}
.text{
    column-gap: 12px,12px;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
}
.text1{
    display: flex;
    flex-direction: column;
    gap: 2px;
    flex-basis: 100%;
    align-items: flex-start;
}
.text2{
    position: relative;
    z-index: 1;
    font-family: 'Title';
    font-size: 1rem;
    font-weight: 400;
    color: inherit;
    margin-block: 0;
    overflow-wrap: anywhere;
    outline: none;
    text-decoration: none;
}
.textLast{
    -webkit-line-clamp: 2;
    overflow: hidden;
    box-sizing: border-box;
}
.textLast::after{
    inset: 12px;
}
.popuArt2{
    text-decoration: none;
}
